#title, #testimonials-bg{
  background: rgb(64,34,24);
  background: linear-gradient(233deg, rgba(64,34,24,1) 0%, rgba(134,84,57,1) 19%, rgba(198,139,89,1) 59%, rgba(215,177,157,1) 98%, rgba(255,255,255,1) 100%);

}

/* lower fontawesome */
.fas{
  color: #F98404;
}

.fas:hover{
  color:#D44000;
}

/* Testimonials */
#testimonials{

text-align: center;
}

#press{
  text-align: center;
  padding-bottom: 3%;
}

.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}

.container-fluid{
  padding: 3% 15%;
}

.container{
  padding: 5%
}

.carousel-item{
  padding: 7% 15%;
}

h2{
  font-size: 2.2rem;
  line-height: 1.5;
}

.testimonial-image{
  width: 30%;
  border-radius: 100%;
  margin: 40px;
}

.rotated{
  width:55%;
  transform: rotate(10deg); /* Equal to rotateZ(45deg) */
  background-color: pink;
  }

.fa-rupee-sign{
color:#000;
}



.subnav {
  margin: auto;
}

.right {
  right: 0;
}

.btn1-grad {
  background-image: linear-gradient(to right, #134E5E 0%, #71B280 51%, #134E5E 100%)

}

.btn1-grad {
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
}

.btn1-grad:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.btn1-grad1 {
  background-image: linear-gradient(to right, #ee0979 0%, #ff6a00 51%, #ee0979 100%)
}

.btn1-grad1 {
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
}

.btn1-grad1:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.ul1 {
    padding: 0;
    list-style-type: none;
}

.ul1 .li1 {
    box-sizing: border-box;
    width: 15em;
    height: 3em;
    font-size: 20px;
    border-radius: 0.5em;
    margin: 0.5em;
    box-shadow: 0 0 1em rgba(0,0,0,0.2);
    color: white;
    font-family: sans-serif;
    text-transform: capitalize;
    line-height: 3em;
    transition: 0.3s;
    cursor: pointer;
}

.ul1 .li1:nth-child(odd) {
    background: linear-gradient(to right, orange, tomato);
    text-align: left;
    padding-left: 10%;
    transform: perspective(500px) rotateY(45deg);
}

.ul1 .li1:nth-child(even) {
    background: linear-gradient(to left, orange, tomato);
    text-align: right;
    padding-right: 10%;
    transform: perspective(500px) rotateY(-45deg);
}

.ul1 .li1:nth-child(odd):hover {
    transform: perspective(200px) rotateY(45deg);
    padding-left: 5%;
}

.ul1 .li1:nth-child(even):hover {
    transform: perspective(200px) rotateY(-45deg);
    padding-right: 5%;
}
